<div class="container">
    <h1>{{title}}</h1>
<p>This is an {{title}} app</p>
<p>  This application was build to emulate a message boarding using hash key to creatre and post rather than user name and password authentication</p>
</div>