<div class="container">
    <h1>{{title}}</h1>
<p>This is an {{title}} app</p>

 <h2>Instructions: </h2>
 <p>Create a User from the Users page.</p>
 <p>Remember your Hash key when creating an account. It will be used in place of a username and password to post to the app</p>
</div>