<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  <link rel='stylesheet' href='/css/bootstrap.min.css'/>
  <link rel='stylesheet' href='/css/bootstrap-theme.min.css'/>
  </head>
  <body>
    {{{body}}}
       <script type='text/javascript'
    src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery­2.1.1.min.js'/>
    <script type='text/javascript' src='/js/bootstrap.min.js'/>

  </body>
</html>
