<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/css/materialize.min.css'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  

</head>

<body>
  <nav class="" role="navigation">
      
       <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Message Board Generator</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/users">Create User</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav> s
    </nav>

  {{{body}}}

  

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script rel='jscript' src="/js/materialize.js"></script>


  <script rel='jscript' src="/jscripts/scripts.js"></script>




</body>

</html>