body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrap{
min-height: 100%
height: auto !important
height: 100%
margin: 0 auto -60px
}

.push, .footer {
height: 60px
}
