body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  color: #00B7FF;
}

.boardList {

}
.stripedList li:nth-child(even) {
  background: #CCC
}

.stripedList li:nth-child(odd) {
  background: #FFF
}

.navbar {
  flex: 0;
}

.content {
  flex: 1
}

.footer {}

#board-desc-input {}

#new-post-content {}

ul {
  list-style-type: none;
}