body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  color: #00B7FF;
}

.boardList {

}

.content-footer {
  background-color: #ee6e73;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-footer .row{
  margin-bottom: 0px;
}
.stripedList li:nth-child(even) {
  background: #CCC
}

.stripedList li:nth-child(odd) {
  background: #FFF
}

.stripedList {
  margin-bottom: 0px;
}

.navbar {
  flex: 0;
}

.content {
  flex: 1
}

.footer {}

#board-desc-input {}

#new-post-content {}

ul {
  list-style-type: none;
}