<div class="container">
    <h2>Editing {{board.name}}</h2>
    <div class="COL s12">

        <form action="/boards/{{board._id}}/" method="POST" class="col s23">
            <label for="name">Name</label>
            <input type="text" name="name" value="{{board.name}}">
            <br>
            <label for="description">Description</label>
            <input type="text" name="description" id="board-desc-input" value="{{board.description}}">
            <br>

            <div class="row">
                <div class="input-field col s2">
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">User Hash</label>
                </div>
                <div class="input-field col s2">
                    <input class="btn btn-primary " type="submit" value="Update">
                </div>
            </div>
        </form>
    </div>
</div>

