<div class="container">
    <h1>Message Board Generator</h1>

    <div class="jumbotron">
        <h3>Boards:</h3>
        <div>
            <a href="/boards/new">Add New Board</a>
        </div>
        <br>
        {{#each boards}}
        <div>
            {{this.name}} - {{this.description}}
            <a href="/boards/{{this._id}}/posts">{{this.name}}'s posts</a>
        </div>
        {{/each}}
        <br>
        <div>
            <a href="/boards/new">Add New Board</a>
        </div>
    </div>

    <p>Need to create a user</p>
    <a href="/users/">Users</a>

</div>