<div class="container">
    <h1>Message Board Generator</h1>

    <div class="col s12">
        <h3>Boards:</h3>
        <div>
            <a href="/boards/new">Add New Board</a>
        </div>
        <br> {{#each boards}}
        <div class="row">
            <div class="row">
                <div class="col s3">Title: {{this.name}}</div>
                <div class="col s3">{{this.description}}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col s6">
                    <a href="/boards/{{this._id}}/posts">{{this.name}}'s posts</a>
                </div>

            </div>
        </div>
        {{/each}}
        <br>
        <div>
            <a href="/boards/new">Add New Board</a>
        </div>
    </div>

    <p>Need to create a user</p>
    <a href="/users/">Users</a>

</div>