<div class="container">
    <div class="jumbotron">
        <h1>Users</h1>

        <div>
            <a href="/users/new">Add New users</a>
        </div>
        <br>
        {{#each users}}
        <div>
            {{this.name}}
        </div>
        {{/each}}
    </div>
</div>