<div class="container">
    <div class="jumbotron">
        <h2>Users</h2> 
        <h5># of users {{users.length}}</h5>
        <hr>
        <div>
            <a href="/users/new">Add New users</a>
        </div>
        <hr>
        <h4>Board Users</h4>
        
        <br>
        {{#each users}}
        <div>
            {{this.name}}
        </div>
        {{/each}}
    </div>
</div>