
<div class="container">
<div class="jumbotron">
<form action="/users" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="hash">Hash Key</label>
    <input type="text" name="hash" value="" id="hash">

    <input type="submit" value="Create">
    
</form>
<button onclick="genKey()">Generate Key</button>
</div>

</div>