
<div class="container">
    <div>
        <h2>Create a new User</h2>
    </div>
<div class="jumbotron">
    <p>You will post the the boards with your Hash Key</p>
    <p>Remember to save your key before clicking submit</p>
<form action="/users" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="hash">Hash Key</label>
    <input type="text" name="hash" value="" id="hash">

    <input type="submit" value="Create">
    
</form>
<button onclick="genKey()">Generate Key</button>
</div>

</div