<div class="container">
    <div class="col s12">
        <h2>{{board.name}}</h2>
        <h3>New Post</h3>
        <form action="/boards/{{boardId}}/posts" method="POST">
            <label for="Content"><h4>Content</h4></label>
            <textarea type="text" name="content" id="new-post-content"></textarea>
            <br>
            <br>
            <label for="hash"><h4>User Hash</h4></label>
            <input type="text" name="hash">
            <br>
            <br>
            <input class="btn" type="submit" value="Create">
        </form>
        <br>
        <p>Need to create a user?</p>
        <a href="/users/">Create New User</a>
    </div>
</div>