<form action="/boards/{{boardId}}/posts" method="POST">
    <label for="content">Content</label>
    <input type="text" name="content">
    <label for="hash">User Hash</label>
    <input type="text" name="hash">
    <input type="submit" value="Create">
</form>